@import '/public/styles/common.scss';

$relation-base-prefix-cls: '#{$mole-prefix}-filter-conditions-relation-line';

.#{$relation-base-prefix-cls}-box {
  display: flex;
  height: 100%;

  &-relation {
    padding-bottom: 20px;

    &-line {
      position: relative;
      height: 100%;
      margin-right: 12px;
      margin-top: 1px;

      &::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        overflow: hidden;
        background: rgba(47, 84, 235, 30%);
        pointer-events: none;
      }

      &-span {
        position: relative;
        display: block;
        top: 50%;
        left: 0;
        right: 0;
        width: auto;
        min-width: 25px;
        height: 25px;
        transform: translateY(-50%);
        border-radius: 3px;
        background: #2f54eb;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;
        cursor: pointer;

        &-disabled {
          pointer-events: none;
          cursor: not-allowed;
        }
      }
    }
  }
}