@import '/public/styles/common.scss';

$reverse-card-prefix-cls: '#{$mole-prefix}-reverse-card';

.#{$reverse-card-prefix-cls} {
  perspective: 1000px;
  margin: 0 auto;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card-front {
  // background: linear-gradient(45deg, #3498db, #8e44ad);
  // color: white;
}

.card-back {
  // background: linear-gradient(45deg, #e74c3c, #f39c12);
  // color: white;
  transform: rotateY(180deg);
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-content {
  font-size: 1rem;
  text-align: center;
}