.drag-sidebar {
  overflow-y: auto;
  height: 100%;

  .drag-group {
    margin: 0 18px 24px;

    &__title {
      font-size: 14px;
      font-family: "Source Han Sans CN";
      font-weight: 700;
      color: #555555;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 20px;
    }
  }
}